/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./css/header.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
.mid-header {
  height: 40px;
  display: flex;
  align-items: center;
}
.search-input {
  padding-left: 16px;
  width: 35vw;
  height: 100%;
  border-radius: 40px 0 0 40px;
  border: 1px solid black;
  border-color: black;
  background-color: white;
  font-size: 1rem;
}
.search-input:focus {
  border-color: blue;
}
.search-icon-wrapper {
  height: 40px;
  width: 64px;
  border: 1px solid black;
  border-radius: 0 40px 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon,
.search-micro-icon {
  width: 25px;
  height: 25px;
}
.search-micro-icon {
  margin-left: 18px;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.avatar {
  width: 32px;
  height: 32px;
}
.bell,
.camera {
  width: 24px;
  height: 24px;
}

